// main colors

$colorBackground: #F6FAFC;
$colorLightBlue: rgb(13, 231, 231);
$colorGrayDark: rgb(167, 167, 167);
$colorWhite: #FFFFFF;
$colorBlue: #00A8FF;
$colorWhiteDark: #E8E8E8;
$colorBlack: #000000;
$colorPink: #E84D56;

// media queries

$desk-2300: 2300px;
$desk-1920: 1920px;
$desk-1680: 1680px;
$desk-1440: 1440px;
$desk-1366: 1366px;
$desk-1024: 1024px;
$mobile-900: 900px;
$mobile-820: 820px;
$mobile-768: 768px;
$mobile-600: 600px;
$mobile-460: 460px;
$mobile-375: 375px;

// mixins

@mixin border-radius($radius) {
	border-radius: $radius;
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin transition($transition) {
	transition: $transition;
	-o-transition: $transition;
	-moz-transition: $transition;
	-webkit-transition: $transition;
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}

@mixin box-shadow($shadow) {
	box-shadow: $shadow;
	-ms-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
}

@mixin blur($blur) {
	-webkit-filter: blur($blur);
	-moz-filter: blur($blur);
	-o-filter: blur($blur);
	-ms-filter: blur($blur);
	filter: blur($blur);
}

@mixin placeholder {
	::-webkit-input-placeholder {
		@content
	}

	:-moz-placeholder {
		@content
	}

	::-moz-placeholder {
		@content
	}

	:-ms-input-placeholder {
		@content
	}
}