@import "./../global/normalize";
@import "./../global/variables";
@import "./../global/fonts";
@import "./../global/mixins";
@import "./../global/layouts";

body {
  background-color: $colorBlueDark;
  font-family: $roboto-regular;
}

#panel_one {
  background: $colorBlue;

  p {
    font-size: 50px;
  }

  .tab {

    &__buttons {
      @include align_center_width;

      .button {
        @extend %button_layout;
        width: 150px;

        &__success {
          color: blue;
        }

        &__danger {
          color: red;
        }

        &__big {
          @include button_default_width(175px);
        }

        &__little {
          @include button_default_width(300px);
        }
      }
    }
  }
}