@import "./../global/normalize";
@import "./../global/variables";
@import "./../global/fonts";
@import "./../global/mixins";
@import "./../global/layouts";
@import "./../global/functions";

body {
  font-family: $roboto-regular;
}

#nav {
  .navbar {
    height: 75px;
    color: $colorWhite;
    background-color: $colorBlack;
    font-family: $roboto-regular;

    &__container {
      max-width: 1000px;
      width: 100%;
      height: 100%;
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &__element {

        &__text {
          font-size: 20px;
          text-decoration: none;
          height: 75px; // pending sass
          line-height: 75px; // pending sass
          color: $colorBlueLight;
        }
      }
    }
  }
}

#panel_one {
  background: $colorBlue;
  width: 500px;

  article {
    margin: 20px;

    .image__container {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;

      .image {
        max-width: 85%;
      }
    }

    .date__container {
      a {
        font-size: .7em;
      }
    }

    .autor__container {
      a {
        font-size: 1em;
      }
    }

    .description__container {
      &__text {
        text-align: center;
        margin: 0px;
        padding: 15px;
        font-size: 15px;
      }
    }

    .tab {
      background-color: $colorBlueLight;
      // __functions
      padding: sum(10px, 5px);

      &__buttons {
        // __mixins
        @include align_center_width;

        .button {
          // __layouts
          @extend %button_layout;
          width: 150px;

          &__success {
            color: blue;
          }

          &__danger {
            color: red;
          }

          &__big {
            // __mixins
            @include button_default_width(175px);
            // __function
            font-size: map-get($font_size, normal);
          }

          &__little {
            // __mixins
            @include button_default_width(100px);
            // __function
            font-size: map-get($font_size, small);
          }
        }
      }
    }
  }
}